@use "variables" as *;

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 1rem;
    margin: 0 auto;
    line-height: 1.8em;

    h1 {
        margin: 2rem 0;
        font-size: 2.5rem;
        text-align: center;

    }

    .about-content {
        text-align: left;

        section {
            margin: 10px 0; // Adjust spacing as needed

            p {
                font-size: 16px; // Add font size
            }
        }
    }

    .react-tabs {
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba($orange, 0.5);
        padding: 1.5rem;
        background: linear-gradient(135deg, #ffcc99, #ff9966);

        .react-tabs__tab-list {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            border-bottom: none;

            .react-tabs__tab {

                background: transparent;
                border: none;
                cursor: pointer;
                margin: 0 0.5rem;
                opacity: .80;
                outline: 0;
                padding: 10px 20px;
                text-align: center;
                transition: border-bottom .2s ease-out, opacity .2s ease-out;

            }

            .react-tabs__tab--selected {
                opacity: 1;

            }
        }


        .react-tabs__tab-panel--selected {

            padding: 1rem;
            text-align: center;
            line-height: 2.8rem;
            text-align: center;
            opacity: 1;
            

        }

    }
}

.inline-block {
    div {
        display: inline;
        margin: 5px;
    }
}

.react-tabs__tab-panel {
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}



// @media screen and (max-width:$medium) {

//     .about-container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         width: 55%;
//         padding: 1rem;
//         margin: 0 auto;
//         line-height: 1.8em;

//         h1 {
//             margin: 1.5rem 0;
//             font-size: 2rem;
//             text-align: center;

//         }

//         .about-content {
//             text-align: center;

//             section {
//                 margin: 10px 0; // Adjust spacing as needed

//                 p {
//                     font-size: 16px; // Add font size
//                 }
//             }
//         }

//     }
// }

// for small and medium screens
@media screen and (max-width:$medium) {
//     .about-container {
//         // display: flex;
//         // flex-direction: column;
//         // align-items: center;
//         // justify-content: center;
//         // width:75%;

        .about-wrapper {
            width: 100%;
            margin: 0 auto;

        }

        h1 {
            margin: 1.5rem 0;
            font-size: 2rem;
            text-align: center;
        }

        .about-content {
            section {
                text-align: left;
            }
        }
        .react-tabs{
            width:100%;
           

        }
        .react-tabs__tab-list{
            // display: flex;
            // width:50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // flex-direction: row;
            
        }

        .react-tabs__tab-panel--selected{
           display:flex;
           flex-direction: column;
        }
//     }

}