<<<<<<< HEAD
@use "variables" as *;

.contact-wrapper{
    max-width: 75%;
    margin: 0 auto;

    .contact-heading{
        margin: 2rem 0;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    .contact-section{
        margin: 2rem 0;
        font-size: 1.2rem;
        text-align: center;
        color:$text-color;
    }
    .contact-social-media-wrapper{
           .social-media-icons{
            display: flex;
            justify-content: center;
            gap:1.5rem;
           }
    }

    
    

}

=======
// @use "variables" as *;

// .contact-wrapper {
//     height: 100vh; // Use the full height of the viewport
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     max-width: 75%;
//     margin: 0 auto;

//     .contact-heading {
//         margin: 2rem 0;
//         font-size: 2.5rem;
//         font-weight: 600;
//         text-align: center;
//     }

//     .contact-section {
//         margin: 2rem 0;
//         font-size: 1.2rem;
//         text-align: center;
//         color: $text-color;
//     }

//     .contact-social-media-wrapper {
//         .social-media-icons {
//             display: flex;
//             justify-content: center;
//             gap: 1.5rem;
//         }
//     }
// }
>>>>>>> staging
