/* Cursor.css */
@use "variables" as *;

.cursor-one,
.cursor-two,
.cursor-three {
    position: fixed;
    border-radius: 50%;
    cursor: pointer;
}

.cursor-one {
    width: 25px;
    height: 25px;
    border: 2px solid $light-orange;
    background: none;
    z-index: 999;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes cursorAnim {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.cursor-two {
    width: 40px;
    height: 40px;
    background-color: rgba($light-orange, 0.5);
    z-index: 300;
    animation: cursorAnim .5s infinite alternate;
}

/* Add any additional styling as needed for .cursor-three or other cursor elements. */