/* Add this to your existing SCSS file */
@use "variables" as *;

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;

    .connect {
        font-size: 1.5rem;
        margin: 2rem;
        color: $dark-orange;
        font-weight: 700;

    }

    .social-media-icons {
        display: flex;
        gap: 1.25rem;
        font-size: 2.5rem;

        .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            padding: 0.5rem;
            border-radius: 50%;
            background-color: $light-orange;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $dark-orange;
            }

            svg {
                color: $white;
                transition: color 0.3s ease-in-out;
            }

            &:hover svg {
                color: $white;
            }
        }
    }

    .copyright {
        margin: 5rem 0 5rem 0;
        font-size: 16px;



        a {
            color: $text-color;

        }

    }
}

// small screens


@media screen and (max-width: $small) {
    .footer-container {
        .social-media-icons {
            display: flex;
            gap: 1.25rem;
            font-size: 1.75rem;

            .icon-wrapper {
                width: none; // Set width to none
                height: none; // Set height to none
            }
        }


    }
}

;