@use "variables" as *;

.site-header {
  height: 7rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  align-items: center;

  .logo {
    object-fit: cover;
    // height: 3rem;
    margin-left: 1rem;
    display: block;
    width: auto;



    .header-logo {
      height: 60px;
      margin-top: 10px;
    }
  }

  .site-navigation {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      flex: 1;

      li {
        a {
          color: $black;
          padding-bottom: 0.5rem;
          border-bottom: 2px solid transparent;
          margin: 0 1rem;

          // &:hover {
          //   padding-bottom: 0.5rem;
          //   border-bottom: 2px solid $orange;
          //   transition: border-bottom 0.3s; // Add a smooth transition
          // }
        }

        .icon {
          display: none;
        }
      }
    }
  }

  // Medium and small screens
  @media screen and (max-width: $medium) {

    #masthead.site-header {
      justify-content: center;

      .site-branding {
        margin: auto;
      }
    }

    .site-navigation {
      backdrop-filter: blur(5px);
      background-color: $white;
      border-top: 1px solid hsla(0, 0%, 100%, 0.8);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 90;
      padding: 0.5rem 2rem;

      ul {
        justify-content: center;
        margin: 0 auto;

        li {
          a {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 0.25rem 1rem 0;
            border-bottom: none !important;


          }

          .icon {
            display: block;
            font-size: 1.5rem;
            text-align: center;
            transition: color 0.3s; // Add a smooth color transition
          }
        }
      }
    }
  }
}