@use "variables" as *;

.intro {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.intro-left {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.8;
        color: $orange;
        animation:typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
        border-right: 2px solid;
        white-space: nowrap;
        overflow: hidden;
    }

    .tagline {
        font-size: 1.3rem;
        width: 80%;
        margin-bottom: 1rem;
    }

    .mywork-btn {
        position: relative;
        width: 20%;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1;
        margin: 1rem 0;
        background: #ffb38a;
        border-radius: 25px;
        border: none;
        padding: 1rem;
        overflow: hidden;

        a {
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
            z-index: 99;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #ff9248;
            // color: white;
            border: none;
            transition: 0.5s;
            z-index: 3;
        }

        &:hover::before {
            width: 100%;
        }
    }

}

.custom__scroll {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    .work-scroll {
        width: 3px;
        padding: 10px;
        position: relative;
        height: 20px;
        border: 2px solid black;
        border-radius: 25px;
        opacity: .75;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .scroll {
        width: 5px;
        height: 5px;
        position: absolute;
        top: 1.5rem;
        bottom:1rem;
        border-radius: 50%;
        background-color: orange;
        ;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;

    }
}

.scroll-text {
    margin-top: 10px;
    margin-bottom: 3rem;
    font-size: .75em;
    text-align: center;
    width: 100%;

    a {
        color: black;
    }
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

// Mobile

@media screen and (max-width:500px) {

    .intro {
        display: block;

        .intro-left {
            .name {
                font-size: 32px;
            }

            .tagline {
                font-size: 18px;
            }
        }

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
        }
    }
}