@use "variables" as *;

// .intro {
//     display: flex;
//     margin-top:6rem;
//     height: 20vh;
// }

// .intro-left{
//     position: relative;
//     display: flex;
//     flex:1;
//     flex-direction: column;
// }

// .name, 
// .tagline{
//     display: flex;
//     flex-direction: column;
// }

// .intro-right{
//     flex:1;
   
// }

.intro{
    display:flex;
    
}

.intro-left{
    margin: auto 2rem;

    .name{
        font-weight:bold;
    }
}

.wp-block-image{
    img{
        // set the border radius of the img
    }
}

.mywork{
    padding:0.5rem 1;
    margin:1rem 0;
    text-align: center;
    background: skyblue;
}

