@use "variables" as *;

* {
    scroll-behavior: smooth;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $roboto;
    overflow: hidden;
    overflow-y: scroll;
}


.active {
    color: $orange !important;
}

