@use "variables" as *;

* {
    scroll-behavior: smooth;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $roboto;
    overflow: hidden;
    overflow-y: scroll;
    // background-attachment: fixed;
    // background-image: linear-gradient(to right bottom, #FFF0F5, #FFEBF0, #FFE6EB, #FFE1E6, #FFDCE1);

}


.active {
    color: hotpink !important;
}

