@use "variables" as *;

.single-work-container {
    width: 75%;
    padding: 1rem;
    margin: 0 auto;
    line-height: 1.8em;
    text-align: center;

    .single-work-title {
        font-size: 2.5rem;
        font-weight: 700;

    }

    .single-work-img {
        margin: 1rem;
        width: 600px;
        height: auto;
        overflow: hidden;
        margin: 1rem auto;
        max-width: 100%;
    }

    .single-work-overview {
        max-width: 50rem;
        margin: 1rem auto;
        text-align: center;
    }

    .site-btn-container {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .tools-container {
        margin: 2rem;

        .tools-used-heading {
            font-weight: 600;
            font-size: 1.8rem;
            margin: 2rem 0;
            text-align: center;
            width: 100%;
        }

        img {
            margin: 1rem;

        }
    }

    .drop-show {
        margin: 0 auto;
        width: 75%;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba($light-orange, 0.2);

        .accordian {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;
            border-bottom: 1px solid $light-orange;
            margin: 1rem;
            padding: 1rem;
            cursor: pointer;
            transition: 0.3s;

            .accordian_heading {
                color: $text-color;
            }

            .sign {
                float: right;
                font-size: 1.5em;
                margin-left: 0.5em;
                color: $text-color;

            }
        }

    }

    .view_all_btn {
        margin: 2rem;
        text-transform: capitalize;

    }
}

// for small and medium screens
@media screen and (max-width: $medium) {

    .single-work-container {
        .single-work-title {
            font-size: 2rem;
        }

        .tools-container {

            .tools-used-heading {
                font-size: 1.5rem;
            }

        }

        .drop-show {
            margin: 0 auto;
            width: 100%;
        }
    }

}

@media screen and (max-width: $small) {

    .single-work-container {

        .drop-show {
            margin: 0 auto;
            width: 100%;
        }
    }

}