$black: black;
$white: white;
$pink: hotpink;

// Regular400 SemiBold600 Bold700
$poppins: 'Poppins', sans-serif;
//Regular400  Bold700
$roboto: 'Roboto', sans-serif;

// Break points
$xLarge: 1300px;
$large: 1024px;
$medium: 700px;
$small: 500px;