$black: black;
$white: white;
$pink: hotpink;
$orange: orange;
$light-orange: #ffb38a;
$dark-orange: #ff9248;
$text-color: #213547;

// Regular400 SemiBold600 Bold700
$poppins: 'Poppins', sans-serif;
//Regular400  Bold700
$roboto: 'Roboto', sans-serif;

// Break points
$xLarge: 1300px;
$large: 1024px;
$medium: 900px;
$small: 576px;