$black: black;
$white: white;
$pink: hotpink;
$orange:orange;
$light-orange:#ffb38a;
$dark-orange:#ff9248;
$text-color:#213547;

// Regular400 SemiBold600 Bold700
$poppins: 'Poppins', sans-serif;
//Regular400  Bold700
$roboto: 'Roboto', sans-serif;

// Break points
$xLarge: 1300px;
$large: 1024px;
$medium: 700px;
$small: 500px;

// $midnight-signature: 'frontend/fonts/Midnight Signature TTF 2.ttf';

// @font-face {
//     font-family: 'Midnight Signature';
//     src: url('#{$midnight-signature}') format('truetype');
// }